body {
    background-color: #E6E9F1;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
}
#myVideo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}
a{
    text-decoration: none;
    color: #222;
}
.login{
    background-color: #fff5;
    width: 270px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 50px 20px;
    box-shadow: 0 50px 150px #5553;
    backdrop-filter: blur(20px);
}
.login .title{
    font-size: x-large;
    font-weight: bold;
}
.login  .des{
    margin: 20px 0;
}
.login .group{ 
    background-color: #fff;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .group input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 20px;
    outline: none;
    font-family: poppins;
}
.login .group span{
    color: #777;
    display: flex;
    margin-right: 15px;
    cursor: pointer;
}
.login .group span ion-icon:nth-child(2){
    display: none;
}
.login .group span.show ion-icon:nth-child(2){
    display: block;
}
.login .group span.show ion-icon:nth-child(1){
    display: none;
}
.login .recovery{
    text-align: right;
    margin-bottom: 20px;
    font-size: small;
}
.login .signIn button{
    background-color: #FA6A69;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    border: none;
    color: #fff;
    font-family: poppins;
    box-shadow:  0 10px 20px #FA6A6999;
    margin-bottom: 40px;
    transition: 0.5s;
}
.login .signIn button:active{
    box-shadow: none;
    transform: translateY(5px);
}
.login .or{
    font-size: small;
    margin-bottom: 20px;
    position: relative;
}
.login .or::before{
    position: absolute;
    background-image: linear-gradient(to left, #444, transparent);
    content: '';
    width: 50px;
    height: 1px;
    top: 50%;
    left: 20px;
}
.login .or::after{
    position: absolute;
    background-image: linear-gradient(to right, #444, transparent);
    content: '';
    width: 50px;
    height: 1px;
    top: 50%;
    right: 20px;
}
.list img{
    width: 30px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px;
    gap: 20px;
    margin-bottom: 30px;
}
.list .item{
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .register{
    font-size: small;
}
.login .register a{
    color: #1364cf;
}