@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body{
    --border-color: #fff;
    color:#222;
    background-image:   
            linear-gradient(
                200deg, #7045d3, #AB65F0
            );
    font-family: Poppins;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
.login{
    background-color: #efefef;
    width: 270px;
    text-align: center;
    border: 2px solid var(--border-color);
    border-radius: 30px;
    padding: 50px 30px;
    box-shadow: 0 50px 150px #5553;
    position: relative;
}
.login .title{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
}
.login .des{
    margin-bottom: 20px;
}
.login .group{
    background-color: var(--border-color);
    border-radius: 10px;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .group input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 20px;
    font-family: Poppins;
    outline: none;
}
.login .group span{
    color: #777;
    display: flex;
    margin-right: 15px;
    cursor: pointer;
}
.login .group span ion-icon:nth-child(2){
    display: none;
}
.login .recovery{
    text-align: right;
    margin-bottom: 20px;
    font-size: small;
}
.login .signIn button{
    background-color: #FA6A69;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    border: none;
    font-family: Poppins;
    box-shadow: 0 10px 20px #FA6A6999;
    margin-bottom: 40px;
    transition: 0.5s;
    color: #fff;
}
.login .signIn button:active{
    box-shadow: none;
    transform: translateY(5px);
}
.login .or{
    font-size: small;
    margin-bottom: 20px;
    position: relative;
}
.login .or::before,
.login .or::after{
    width: 50px;
    height: 1px;
    background-image:  
        linear-gradient(
            to left, #444, transparent
        );
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
}
.login .or::after{
    left: unset;
    right: 20px;
    background-image:  
        linear-gradient(
            to right, #444, transparent
        );
}
.login  .list .item img{
    width: 30px;
}
.login .list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px;
    gap: 20px;
    margin-bottom: 30px;
}
.login .list .item{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .register{
    font-size: small;
}
.login .recovery a{
    color: #1364cf;
}